@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", serif;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--light-grayish-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.article-component {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 22rem;
  border-radius: 1rem;
  background-color: white;
}

.article-component__photo {
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  background-image: url("./images/drawers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-component__text {
  padding: 3rem 2rem 1rem;
}

.article-component__text__title {
  margin: 0;
  color: var(--very-dark-grayish-blue);
  font-weight: 800;
}

.article-component__text__description {
  margin: 1rem 0 2rem;
  color: var(--desaturated-dark-blue);
}

.article-component__text__author {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.article-component__text__author__photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.article-component__text__author__photo img {
  height: 100%;
}

.article-component__text__author__info {
  flex-grow: 1;
}

.article-component__text__author__info p {
  margin: 0;
}

.article-component__text__author__info p:first-of-type {
  margin-bottom: 0.25rem;
  font-weight: 800;
  color: var(--very-dark-grayish-blue);
}

.article-component__text__author__info p:last-of-type {
  color: var(--grayish-blue);
}

.article-component__text__author__info__share-btn {
  outline: none;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background: none;
  cursor: pointer;
}

.article-component__text__author__info__share-btn--light {
  background-color: var(--light-grayish-blue);
}

.article-component__text__author__info__share-btn--dark {
  background-color: var(--desaturated-dark-blue);
}

.article-component__text__author__info__share-popup {
  position: absolute;
  top: 0;
  left: -2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 4rem);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 2rem;
  background-color: var(--very-dark-grayish-blue);
  transition: transform 0.15s linear;
}

.article-component__text__author__info__share-popup--show {
  pointer-events: all;
  transform: scale(1);
  transform-origin: bottom center;
}

.article-component__text__author__info__share-popup--hide {
  pointer-events: none;
  transform: scale(0);
  transform-origin: bottom center;
}

.article-component__text__author__info__share-popup > span:first-of-type {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-component__text__author__info__share-popup > span:first-of-type > p {
  margin: 0;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  user-select: none;
}

.share-popup__icon {
  height: 2rem;
  width: 2rem;
  padding: 0.35rem;
  /* cursor: pointer; */
}

@media (min-width: 90rem) {
  .article-component {
    max-width: 50rem;
    flex-direction: row;
  }

  .article-component__photo {
    height: unset;
    width: 35%;
    border-radius: 1rem 0 0 1rem;
  }

  .article-component__text {
    width: 65%;
    padding: 2rem;
  }

  .article-component__text__author__info__share-popup {
    top: -5rem;
    right: -6.7rem;
    left: unset;
    width: unset;
    border-radius: 1rem;
  }

  .article-component__text__author__info__share-popup::after {
    position: absolute;
    bottom: -0.5rem;
    left: calc(50% - 0.5rem);
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid var(--very-dark-grayish-blue);
  }

  .article-component__text__author__info__share-btn--dark {
    display: none;
  }
}
